/* Custom CSS */

.author-display-none{
  display:none;
}

.mt-4{
  display:none;
}

/* Increase the default font size */
html {
  font-size: 14pt;
}
@font-face {
  font-family: "dosis";
  src: url("/fonts/dosis/dosis.woff2");
}
@font-face {
    font-family: arturo;
    src: url('/fonts/arturo/arturo.woff2');
}

html {
  font-family: "dosis", sans-serif;
}
h1.mb-2{
  font-family: arturo;
}
.font-extrabold {
    font-weight: 400;
}
.py-16 {
    padding-top: 4rem;
    padding-bottom: 0rem;
}

#hero{
  display:none;
}
