/* Custom CSS */

.author-display-none{
  display:none;
}

.mt-4{
  display:none;
}


@font-face {
    font-family: font;
    src: url('/fonts/louis-george');
}

html {
    font-family: louis-george;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 0rem;
}

#hero{
  display:none;
}
