/* Custom CSS */

.author-display-none{
  display:none;
}

.mt-4{
  display:none;
}

/* Increase the default font size */
html {
  font-size: 16pt;
}


@font-face {
    font-family: font;
    src: url('/fonts/glacial-indifference.regular.otf');
}
@font-face {
    font-family: font;
    src: url('/fonts/rockit.ttf');
}
@font-face {
    font-family: font;
    src: url('/fonts/dosis.ttf');
}
@font-face {
    font-family: font;
    src: url('/fonts/arturo.ttf');
}

html {
    font-family: dosis;
}

h1.mb-2{
  font-family: arturo;
}
.py-16 {
    padding-top: 4rem;
    padding-bottom: 0rem;
}

#hero{
  display:none;
}
